<!-- Mobsted {literal} -->
<script>
    (function(m,o,b,s,t,e,d){
      m[t]=m[t]||{},e=o.createElement(b),d=o.getElementsByTagName(b)[0],
        e.async=1,e.src=s,d.parentNode.insertBefore(e,d)
    })(window,document,"script","https://cdn.mobsted.com/pwaless.js","pwaless");
    pwaless.config = {
      accountId: "ca0a6829",
      server: "mobsted.com",
      projectId: 15
    }
</script>
<!-- /Mobsted {/literal} -->

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- FILES LINKS -->
     <link rel="stylesheet" href="/css/<%= css %>">
     <link rel="stylesheet" href="/css/navbar.css">
     <link rel="stylesheet" href="/css/footer.css">

     <!-- JS -->
     <script src="/js/navbar.js"></script>
     <script src="/js/userManage.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

     <!-- FONTS -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
     
     <!-- FONTAWESOME -->
     <script src="https://kit.fontawesome.com/2c1b23ff4c.js" crossorigin="anonymous"></script>

     <title>Money War Academy</title>
</head>
