<header>
     <div class="navbar">
          <div class="brand-links-con">
               <div class="logo">
                    <a href="/"><img src="/images/logo.JPG" alt="logo" width="60"></a>
               </div>
               
                    <ul class="linksMenu">
                         <li class="nav-item"><a href="/">الصفحة الرئيسية</a></li>
                         <li class="nav-item"><a href="/courses">الدورات</a></li>
                         <% if (user) { %>
                              <li class="nav-item"><a href="/profile">الملف الشخصي</a></li>
                              <% if(user.admin == true) { %><li class="nav-item"><a href="/dashboard">لوحة التحكم</a></li><% } else { %><% } %>
                              <% } else if(user == null || !user) { %>
                                   <li class="nav-item"><a href="/signup">التسجيل</a></li>
                                   <li class="nav-item"><a href="/login">تسجيل الدخول</a></li>
                              <% }%>
                    </ul>
          </div>
          <div onclick="showLinks()" class="hamburger">
               <svg width="33" height="23" viewBox="0 0 33 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="33" height="3" fill="#999999" fill-opacity="0.6"/>
                    <rect y="10" width="33" height="3" fill="#999999" fill-opacity="0.6"/>
                    <rect y="20" width="33" height="3" fill="#999999" fill-opacity="0.6"/>
               </svg>
          </div>
     </div>
</header>
